body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f3f4f6;
  text-align: center;
}
.loading{

    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.loader{
    position: relative;
}
.outer,
.middle,
.inner {
  
    border:3px solid transparent;
    border-top-color: #202c97;
    border-right-color: #202c97;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.outer{

    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-right: -1.75em;
    animation: spin 2s linear infinite;
}
.middle{
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-right: -1.05em;
     
    animation: spin 1.75s linear reverse infinite;
}
.inner{
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-right: -0.4em;
     
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}